@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

@font-face {
  font-family: "Parabole";
  src: url("static/fonts/ParaboleTrial-DisplayRegular.woff2") format('woff2');
}

body {
    font-family: sans-serif;
    margin-left: 0;
}

.main-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 16;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-container.home {
    background-image: url('static/images/home-bg.png');
}

.main-container.about {
    background-image: url('static/images/about-bg.png');
}

.main-container.contribute {
    background-image: url('static/images/contribute-bg.png');
}

.main-container.partners {
    background-image: url('static/images/partners-bg.png');
}

.main-container.initiatives {
    background-image: url('static/images/initiatives-bg.png');
}

.navbar-item {
    font-family: "Parabole";
    font-size: 16px;
    color: white;
}

.navbar-container {
  display:flex;
  flex-direction: column;
  padding: 16px;
}

.styled-link {
    text-decoration: none;
    color: white;
    opacity: 70%;
}

.styled-link.light {
    color: black;
    opacity: 70%;
}

.styled-link:hover {
  opacity: 100%;
}

.styled-link.light:hover {
  opacity: 100%;
}

.hero-container {
    position:absolute;
    bottom: 0;
    left: 0;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
    padding-left: 16px;
}

h1 {
    font-family: "Parabole";
    font-size: 180pt;
    line-height: 168px;
    margin: 0;
    padding-bottom: 16px;
}

.button-container {
    display: flex;
    flex-direction: row;
    font-family: 'Space Grotesk', sans-serif;
    gap: 16px;
    font-size: 16pt;
    color: white;
    margin-right: 32px;
    margin-bottom: -16px;
}

.hero-text {
    background-image: url('static/images/home-hero-text.png');
    background-clip: text;
    background-size: cover;
    color: rgba(0, 0, 0, 0.1);
}

.about-blurb-container {
    width: 40%;
    margin-right: 16px;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
}